name: Deploy Self-Hosted

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do Código
      uses: actions/checkout@v3

    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22
        script: |
          # Entra na pasta e roda o script mágico
          cd /opt/portfolio-api
          # Garante permissão de execução
          chmod +x setup.sh
          # Executa o deploy
          ./setup.sh