name: Deploy Backend Java

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Executar Script de Deploy Local
        working-directory: /root/
        run: ./setup.sh