name: Deploy Self-Hosted

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout do Código
      uses: actions/checkout@v3

    - name: Executar Setup Script
      run: |
        # 1. Dá permissão ao script que ACABOU de ser baixado (na pasta atual)
        chmod +x setup.sh
        
        # 2. Executa ele direto (ele sabe onde ir)
        ./setup.sh